<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.AccomReviewMapper">
	<!-- resultMap -->
	<resultMap type="com.gdu.voyage.vo.AccomReview" id="resultReview">
		<!-- Review -->
		<id column="accom_review_no" property="accomReviewNo"/>
		<result column="accom_review_title" property="accomReviewTitle"/>
		<result column="accom_review_content" property="accomReviewContent"/>
		<result column="accom_review_star" property="accomReviewStar"/>
		<result column="accom_review_view_cnt" property="accomReviewViewCnt"/>
		<result column="update_date" property="updateDate"/>
		<result column="create_date" property="createDate"/>
		<!-- Img -->
		<collection property="accomReviewImage" ofType="com.gdu.voyage.vo.AccomReviewImage">
			<id column="accom_review_image_no" property="accomReviewImageNo"/>
			<result column="accom_review_image_name" property="accomReviewImageName"/>
			<result column="accom_review_image_ext" property="accomReviewImageExt"/>
			<result column="accom_review_image_size" property="accomReviewImageSize"/>
		</collection>
	</resultMap>
	
	<!-- 숙소 후기 목록 조회 -->
	<select id="selectAccomReviewList" parameterType="com.gdu.voyage.vo.AccomReview" resultMap="resultReview">
		SELECT
			accom_review_no,
			accom_payment_details,
			accom_review_title,
			accom_review_star,
			accom_review_view_cnt,
			create_date,
			update_date
		FROM
			accom_review
			<where>
				<if test="searchReview != null">
					accom_review_title LIKE '%${searchReview}%'
				</if>
			</where>
		ORDER BY
			accom_review_no DESC, update_date DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- review no에 따른 숙소 후기 상세 조회 -->
	<select id="selectAccomReviewOne" parameterType="com.gdu.voyage.vo.AccomReview" resultMap="resultReview">
			SELECT
            	accom_review_no,
	            accom_payment_details,
	            accom_review_title,
	            accom_review_content,
	            accom_review_star,
	            accom_review_view_cnt,
	            create_date,
	            update_date
			FROM 
				accom_review
            WHERE 
            	accom_review_no = #{accomReviewNo}
	</select>
	
	<!-- 조회수 -->
	<update id="accomReviewViewCnt">
        UPDATE accom_review
            SET accom_review_view_cnt = accom_review_view_cnt+1
            WHERE accom_review_no = ${accomReviewNo}
    </update>
	
	<!-- 페이징 -->
	<select id="selectCountPage" resultType="int">
		SELECT COUNT(*)FROM accom_review
	</select>
	
	<!-- 숙소 후기 등록 -->
	<insert id="addAccomReview" parameterType="com.gdu.voyage.vo.AccomReview">
		INSERT INTO accom_review(
			accom_payment_details,
			accom_review_title,
			accom_review_content,
			accom_review_star,
			accom_review_view_cnt,
			create_date,
			update_date
		) VALUES (
			#{accomPaymentDetails},
			#{accomReviewTitle},
			#{accomReviewContent},
			#{accomReviewStar},
			#{accomReviewViewCnt},
			NOW(),
			NOW()
		)
	</insert>
	
	<select id="selectReviewTotalCount" resultType="int">
		SELECT COUNT(*) FROM accom_review
		<where>
			<if test="accomPaymentNo != null">
				accom_payment_details = #{accomPaymentNo}
			</if>
		</where>
	</select>
	
</mapper>