<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.AccomBuildingMapper">
	<resultMap type="com.gdu.voyage.vo.AccomBuilding" id="AccomBuilding">
		<result column="accom_building_no" property="accomBuildingNo" />
		<result column="host_no" property="hostNo" />
		<result column="accom_building_name" property="accomBuildingName" />
		<result column="accom_building_description" property="accomBuildingDescription" />
		<result column="accom_building_phone" property="accomBuildingPhone" />
		<result column="accom_building_state" property="accomBuildingState" />
		<result column="accom_building_state_admin" property="accomBuildingStateAdmin" />
		<result column="create_date" property="createDate" />
		<result column="update_date" property="updateDate" />
		<result column="AVG" property="AVG" />
		<collection property="accomBuildingImage" resultMap="AccomBuildingImage" />
	</resultMap>
	
	<resultMap type="com.gdu.voyage.vo.AccomBuildingImage" id="AccomBuildingImage">
		<result column="accom_building_image_no" property="accomBuildingImageNo" />
		<result column="accom_building_image_name" property="accomBuildingImageName" />
		<result column="accom_building_image_ext" property="accomBuildingImageExt" />
		<result column="accom_building_image_size" property="accomBuildingImageSize" />
	</resultMap>


	<!-- 사업자 -->
	<!-- 숙소-건물 입력 : selectKey를 사용하여 숙소건물의 식별번호를 받아온뒤 나머지 추가 정보들도 함께 insert -->
	<insert id="insertAccomBuilding" parameterType="com.gdu.voyage.vo.AccomBuilding">
		INSERT INTO accom_building (
			host_no,
			accom_building_name,
			accom_building_description,
			accom_building_phone,
			create_date,
			update_date
		) VALUES (
			#{hostNo},
			#{accomBuildingName},
			#{accomBuildingDescription},
			#{accomBuildingPhone},
			NOW(),
			NOW()
		)
		<selectKey keyProperty="accomBuildingNo" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 숙소-건물의 이미지 파일 입력 -->
	<insert id="insertAccomBuildingImage" parameterType="com.gdu.voyage.vo.AccomBuildingImage">
		INSERT INTO accom_building_image (
			accom_building_no,
			accom_building_image_name,
			accom_building_image_ext,
			accom_building_image_size
		) VALUES (
			#{accomBuildingNo},
			#{accomBuildingImageName},
			#{accomBuildingImageExt},
			#{accomBuildingImageSize}
		)
	</insert>
	
	<!-- 숙소-건물의 주소 입력 -->
	<insert id="insertAccomBuildingAddress" parameterType="com.gdu.voyage.vo.AccomAddress">
		INSERT INTO accom_address (
			accom_building_no,
			accom_address_postal_code,
			accom_address_zip,
			accom_address_detail,
			create_date,
			update_date
		) VALUES (
			#{accomBuildingNo},
			#{accomAddressPotalCode},
			#{accomAddressZip},
			#{accomAddressDetail},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 숙소-건물의 시설 입력 -->
	<insert id="insertAccomBuildingFacility" parameterType="com.gdu.voyage.vo.AccomBuildingFacility">
		INSERT INTO accom_building_facility (
			accom_building_no,
			accom_building_facility_name
		) VALUES (
			#{accomBuildingNo},
			#{accomBuildingFacilityName}
		)
	</insert>
	
	<!-- 숙소-건물의 추천장소 입력 -->
	<insert id="insertAccomBuildingSpot" parameterType="com.gdu.voyage.vo.AccomBuildingSpot">
		INSERT INTO accom_building_spot (
			accom_building_no,
			accom_building_spot_name,
			accom_building_spot_category,
			accom_building_spot_description
		) VALUES (
			#{accomBuildingNo},
			#{accomBuildingSpotName},
			#{accomBuildingSpotCategory},
			#{accomBuildingSpotDescription}
		)
		<selectKey keyProperty="accomBuildingSpotNo" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 숙소-건물, 추천장소의 주소 입력 -->
	<insert id="insertAccomSpotAddress" parameterType="com.gdu.voyage.vo.SpotAddress">
		INSERT INTO spot_address (
			spot_table,
			spot_no,
			spot_address_postal_code,
			spot_address_zip,
			spot_adress_detail,
			create_date,
			update_date
		) VALUES (
			'건물',
			#{spotNo},
			#{spotAddressPotalCode},
			#{spotAddressZip},
			#{spotAddressDetail},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 숙소-건물의 해시태그 입력 -->
	<insert id="insertAccomBuildingHashtag" parameterType="com.gdu.voyage.vo.Hashtag">
		INSERT INTO hashtag (
			iden_no,
			table_name,
			hashtag,
			create_date
		) VALUES (
			#{idenNo},
			#{tableName},
			#{hashtag},
			NOW()
		)
	</insert>
	
	
	<!-- 숙소-건물 수정-->
	<update id="updateAccomBuilding" parameterType="com.gdu.voyage.vo.AccomBuilding">
		UPDATE accom_building
		SET accom_building_name = #{accomBuildingName},
		accom_building_description = #{accomBuildingDescription},
		accom_building_phone = #{accomBuildingPhone},
		update_date = NOW()
		WHERE accom_building_no = #{accomBuildingNo}
	</update>
	
	<!-- 숙소-건물의 이미지 파일 수정 -->
	<update id="updateAccomBuildingImage" parameterType="com.gdu.voyage.vo.AccomBuildingImage">
		UPDATE accom_building_image
		SET accom_building_image_name = #{accomBuildingImageName},
		accom_building_image_ext = #{accomBuildingImageExt},
		accom_building_image_size = #{accomBuildingImageSize}
		WHERE accom_building_no = #{accomBuildingNo}
	</update>
	
	<!-- 숙소-건물의 주소 수정 -->
	<update id="updateAccomBuildingAddress" parameterType="com.gdu.voyage.vo.AccomAddress">
		UPDATE accom_address
		SET accom_address_postal_code = #{accomAddressPostalCode},
		accom_address_zip = #{accomAddressZip},
		accom_address_detail = #{accomAddressDetail},
		update_date = NOW()
		WHERE accom_building_no = #{accomBuildingNo}
	</update>
	
	<!-- 숙소-건물의 시설 수정 -->
	<update id="updateAccomBuildingFacility" parameterType="com.gdu.voyage.vo.AccomBuildingFacility">
		UPDATE accom_building_facility
		SET accom_building_facility_name = #{accomBuildingFacilityName}
		WHERE accom_building_no = #{accomBuildingNo}
	</update>
	
	<!-- 숙소-건물의 추천장소 수정 -->
	<update id="updateAccomBuildingSpot" parameterType="com.gdu.voyage.vo.AccomBuildingSpot">
		UPDATE accom_building_spot
		SET accom_building_spot_name = #{accomBuildingSpotName},
		accom_building_spot_category = #{accomBuildingSpotCategory},
		accom_building_spot_description = #{accomBuildingSpotDescription}
		WHERE accom_building_no = #{accomBuildingNo}
	</update>
	
	<!-- 숙소-건물, 추천장소의 주소 수정 -->
	<update id="updateAccomSpotAddress" parameterType="com.gdu.voyage.vo.SpotAddress">
		UPDATE spot_address
		SET spot_address_postal_code = #{spotAddressPostalCode},
		spot_address_zip = #{spotAddressZip},
		spot_address_detail = #{spotAddressDetail},
		update_date = NOW()
		WHERE spot_no = #{spotNo}
		AND spot_table = '건물'
	</update>
	
	<!-- 숙소-건물의 해시태그 삭제 -->
	<delete id="deleteAccomBuildingHashtag" parameterType="com.gdu.voyage.vo.Hashtag">
		DELETE FROM hashtag
		WHERE iden_no = #{idenNo}
		AND table_name = '건물'
		AND hashtag = #{hashtag}
	</delete>
	
	<!-- 회원 -->
	
	<!-- 관심상품 추가 -->
	<insert id="insertAccomBuildingByInterest">
		INSERT INTO accom_building_interest(
			accom_building_no,
			member_id
		) VALUES (
			${accomBuildingNo},
			#{memberId}
		)
	</insert>
	<!-- 관심상품 제거 -->
	<delete id="deleteAccomBuildingByInterest">
		DELETE FROM accom_building_interest
		WHERE accom_building_no = #{accomBuildingNo}
		AND member_id = #{memberId}
	</delete>
	<!-- 관심상품 확인 -->
	<select id="selectAccomBuildingByInterestOne" resultType="int">
		SELECT count(*)
		FROM accom_building_interest
		WHERE accom_building_no = #{accomBuildingNo}
		AND member_id = #{memberId}
	</select>
	
	<!-- 이미지가 포함된 관심상품목록 -->
	<select id="selectAccomBuildingByInterest" resultMap="AccomBuilding">
		SELECT
			ab.accom_building_no,
			ab.accom_building_name,
			ab.accom_building_description,
			ab.accom_building_phone,
			ab.accom_building_state,
			ai.accom_building_image_name,
			ai.accom_building_image_ext,
			AVG(ar.accom_room_price) AVG
		FROM
			accom_building_interest abi
		INNER JOIN
			accom_building ab
		ON
			abi.accom_building_no = ab.accom_building_no
		INNER JOIN
			accom_building_image ai
		ON
			ai.accom_building_no = abi.accom_building_no
		INNER JOIN
			accom_room ar
		ON
			ar.accom_building_no = abi.accom_building_no
		WHERE
			abi.member_id = #{memberId}
			AND 
			ab.accom_building_state = '공개'
			AND
			ai.accom_building_image_name =
			(SELECT accom_building_image_name
			FROM accom_building_image
			WHERE accom_building_no = abi.accom_building_no
			ORDER BY accom_building_image_no ASC
			LIMIT 0,1
			)
			AND
			ai.accom_building_image_ext = 
			(SELECT accom_building_image_ext
			FROM accom_building_image
			WHERE accom_building_no = abi.accom_building_no
			ORDER BY accom_building_image_no ASC
			LIMIT 0,1
			)
		GROUP BY
			ab.accom_building_no
		ORDER BY
			abi.accom_building_interest_no desc
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	<!-- 관심상품 페이징 -->
	<select id="selectInterestedAccomBuildingCount" resultType="int">
		SELECT
			COUNT(*)
		FROM 
			accom_building_interest
		WHERE
			member_id = #{memberId}
	</select>
	
	<!-- 관리자, 사업자 -->
	<!-- 숙소 목록 출력 -->
	<select id="selectAccomBuildingList" resultType="com.gdu.voyage.vo.AccomBuilding">
        SELECT
            accom_building_no as accomBuildingNo,
            accom_building_name as accomBuildingName,
            accom_building_description as accomBuildingDescription,
            accom_building_phone as accomBuildingPhone,
            accom_building_state as accomBuildingState,
            accom_building_state_admin as accomBuildingStateAdmin,
            create_date as createDate,
            update_date as updateDate
        FROM
        	accom_building
        <if test="hostNo != null">
        	<where>
        		host_no = #{hostNo}
            	AND
            	NOT accom_building_state_admin = "승인대기"
            	AND
            	NOT accom_building_state_admin = "삭제"
        	</where>
        	ORDER BY
        		accom_building_name ASC
        </if>
        LIMIT 
      		#{beginRow}, #{rowPerPage}
    </select>
    
   <!-- 페이징 -->
	<select id="selectCountPage" resultType="int"  parameterType="com.gdu.voyage.vo.AccomBuilding">
		SELECT
			COUNT(*)
		FROM 
			accom_building
		<if test="hostNo != null">
			<where>
				host_no = #{hostNo}
				AND
				NOT accom_building_state_admin = "승인대기"
            	AND
				NOT accom_building_state_admin = "삭제"
			</where>
		</if>
	</select>
    
    <!-- 사업자 -->
	<!-- host_no에 따른 대기중인 숙소 신청 리스트 -->
	<select id="selectReqAccomBuildingListByHost" resultType="com.gdu.voyage.vo.AccomBuilding">
            SELECT
            	accom_building_no accomBuildingNo,
            	accom_building_name accomBuildingName,
            	accom_building_state_admin accomBuildingStateAdmin,
            	create_date createDate
            FROM
            	accom_building
            WHERE
            	host_no = #{hostNo}
            	AND
            	NOT accom_building_state_admin = "승인완료"
            	AND
            	NOT accom_building_state_admin = "점검"
            	AND
            	NOT accom_building_state_admin = "삭제대기"
			ORDER BY
				create_date DESC
			LIMIT 
      			#{beginRow}, #{rowPerPage}
    </select>
    
    <!-- 사업자 -->
	<!-- host_no에 따른 대기중인 숙소 신청 갯수 -->
	<select id="selectReqAccomBuildingCountByHost" resultType="int">
            SELECT
            	COUNT(*)
            FROM
            	accom_building
            WHERE
            	host_no = #{hostNo}
            	AND
            	NOT accom_building_state_admin = "승인완료"
            	AND
            	NOT accom_building_state_admin = "점검"
            	AND
            	NOT accom_building_state_admin = "삭제대기"
    </select>

    <!-- 건물번호에따른 숙소 상세 목록 출력 -->
    <select id="selectAccomBuildingOne" resultType="com.gdu.voyage.vo.AccomBuilding">
            SELECT
            	accom_building_no as accomBuildingNo,
	            host_no as hostNo,
	            accom_building_name as accomBuildingName,
	            accom_building_description as accomBuildingDescription,
	            accom_building_phone as accomBuildingPhone,
	            accom_building_state as accomBuildingState,
	            accom_building_state_admin as accomBuildingStateAdmin,
	            create_date as createDate,
	            update_date as updateDate
			FROM 
				accom_building
            WHERE 
            	accom_building_no = #{accom_building_no}
    </select>
    
    <!-- 등록된 숙소 승인여부 수정 -->
    <update id="accomBuildingUpdate" parameterType="com.gdu.voyage.vo.AccomBuilding">
    	UPDATE accom_building 
    	SET
    		accom_building_state = #{accomBuildingState},
    		accom_building_state_admin = #{accomBuildingStateAdmin},
    		update_date = NOW()
    	WHERE 
    		accom_building_no = #{accomBuildingNo}
    </update>
    
    <!-- 관리자 -->
	<!-- 승인완료된 숙소 목록 출력 -->
	<select id="selectAccessAccomBuilding" resultType="com.gdu.voyage.vo.AccomBuilding">
            SELECT
	            accom_building_no as accomBuildingNo,
	            host_no as hostNo,
	            accom_building_name as accomBuildingName,
	            accom_building_description as accomBuildingDescription,
	            accom_building_phone as accomBuildingPhone,
	            accom_building_state as accomBuildingState,
	            accom_building_state_admin as accomBuildingStateAdmin,
	            create_date as createDate,
	            update_date as updateDate
			FROM 
				accom_building
            WHERE 
            	accom_building_state_admin = '승인완료'
    </select>
    
    <!-- 삭제 요청 처리. 마지막 체크인 날짜로부터 일주일이 되면 삭제 처리 -->
	<update id="updateDormantAccomBuilding">
		UPDATE accom_building ab
		INNER JOIN accom_room ar ON ab.accom_building_no = ar.accom_building_no
		SET ab.accom_building_state_admin = '삭제',
			ar.accom_room_state = '비공개'
		WHERE
			DATEDIFF(NOW(),update_date) >= 7
		AND
			accom_building_state_admin = "삭제대기"
	</update>
	
	<!-- 삭제 요청 버튼 클릭시 삭제 대기 -->
	<update id="updateDeleteAccomBuilding">
		UPDATE accom_building
		SET
			accom_building_state_admin = "삭제대기"
		WHERE
			accom_building_state_admin = "승인완료"
		AND
			accom_building_no = #{accomBuildingNo}
	</update>
</mapper>