<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.ActivityReviewMapper">
	<!-- resultMap -->
	<resultMap type="com.gdu.voyage.vo.ActivityReview" id="resultReview">
		<!-- Review -->
		<id column="activity_review_no" property="activityReviewNo"/>
		<result column="activity_review_title" property="activityReviewTitle"/>
		<result column="activity_review_content" property="activityReviewContent"/>
		<result column="activity_review_star" property="activityReviewStar"/>
		<result column="activity_review_view_cnt" property="activityReviewViewCnt"/>
		<result column="update_date" property="updateDate"/>
		<result column="create_date" property="createDate"/>
		<!-- Img -->
		<collection property="activityReviewImage" ofType="com.gdu.voyage.vo.ActivityReviewImage">
			<id column="activity_review_image_no" property="activityReviewImageNo"/>
			<result column="activity_review_image_name" property="activityReviewImageName"/>
			<result column="activity_review_image_ext" property="activityReviewImageExt"/>
			<result column="activity_review_image_size" property="activityReviewImageSize"/>
		</collection>
	</resultMap>
	
	<!-- 체험 후기 목록 조회 -->
	<select id="selectActivityReviewList" parameterType="com.gdu.voyage.vo.ActivityReview" resultMap="resultReview">
		SELECT
			activity_review_no,
			activity_payment_details,
			activity_review_title,
			activity_review_content,
			activity_review_star,
			activity_review_view_cnt,
			create_date,
			update_date
		FROM
			activity_review
		ORDER BY
			update_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 페이징 -->
	<select id="selectCountPage" resultType="int">
		SELECT COUNT(*)FROM activity_review
	</select>
	
	<!-- 체험 후기 등록 -->
	<insert id="addActivityReview" parameterType="com.gdu.voyage.vo.ActivityReview">
		INSERT INTO activity_review(
			activity_payment_details,
			activity_review_title,
			activity_review_content,
			activity_review_star,
			activity_review_view_cnt,
			create_date,
			update_date
		) VALUES (
			#{activityPaymentDetails},
			#{activityReviewTitle},
			#{activityReviewContent},
			#{activityReviewStar},
			#{activityReviewViewCnt},
			NOW(),
			NOW()
		)
	</insert>
	
	<select id="selectReviewTotalCount" resultType="int">
		SELECT COUNT(*) FROM activity_review
		<where>
			<if test="activityPaymentNo != null">
				activity_payment_details = #{activityPaymentNo}
			</if>
		</where>
	</select>
	
	<!-- 이미지 등록 -->
	<insert id="addActivityReviewImage" parameterType="com.gdu.voyage.vo.ActivityReviewImage">
		INSERT INTO activity_review_image(
			activity_review_no,
			activity_review_image_name,
			activity_review_image_ext,
			activity_review_image_size
		) VALUES (
			#{activityReviewNo},
			#{activityReviewImageName},
			#{activityReviewImageExt},
			#{activityReviewImageSize}
		)
	</insert>
</mapper>