<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.AdminMapper">

<insert id="insertAdminAddress" parameterType="com.gdu.voyage.vo.AdminAddress">
	INSERT INTO
		admin_address(
			admin_id,
			admin_address_postal_code,
			admin_address_zip,
			admin_address_detail
		)
		VALUES(
			#{adminId},
			#{adminAddressPostalCode},
			#{adminAddressZip},
			#{adminAddressDetail}
			);
</insert>

<insert id="insertAdmin" parameterType="com.gdu.voyage.vo.Admin">
	INSERT INTO
		admin(
			admin_id,
			admin_first_name,
			admin_last_name,
			admin_phone,
			admin_email,
			admin_active,
			create_date,
			update_date
			)	
		VALUES(
			#{adminId},
			#{adminFirstName},
			#{adminLastName},
			#{adminPhone},
			#{adminEmail},
			#{adminActive},
			NOW(),
			NOW()
			);
</insert>

</mapper>