<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.AdminMapper">
<!-- 어드민회원가입 (주소) -->
<insert id="insertAdminAddress" parameterType="com.gdu.voyage.vo.AdminAddress">
	INSERT INTO
		admin_address(
			admin_id,
			admin_address_postal_code,
			admin_address_zip,
			admin_address_detail
		)
		VALUES(
			#{adminId},
			#{adminAddressPostalCode},
			#{adminAddressZip},
			#{adminAddressDetail}
			);
</insert>
<!-- 어드민 회원가입 -->
<insert id="insertAdmin" parameterType="com.gdu.voyage.vo.Admin">
	INSERT INTO
		admin(
			admin_id,
			admin_first_name,
			admin_last_name,
			admin_phone,
			admin_email,
			admin_active,
			create_date,
			update_date
			)	
		VALUES(
			#{adminId},
			#{adminFirstName},
			#{adminLastName},
			#{adminPhone},
			#{adminEmail},
			#{adminActive},
			NOW(),
			NOW()
			);
</insert>

<update id="updateAdmin" parameterType="com.gdu.voyage.vo.Admin">
		UPDATE
			admin a 
		INNER JOIN 
			admin_address b
		ON 
		a.admin_id = b.admin_id
		SET 
			a.admin_first_name = #{adminFirstName},
			a.admin_last_name = #{adminLastName},
			a.admin_phone = #{adminPhone},
			a.admin_email = #{adminEmail},
			a.admin_active = #{adminActive},
			b.admin_address_postal_code = #{adminAddressPostalCode},
			b.admin_address_zip = #{adminAddressZip}
			b.admin_address_detail = #{adminAddressDetail}
		WHERE
			a.admin_id = #{adminId}
</update>

</mapper>