<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.AlarmMapper">
	<!-- 알림 추 -->
	<insert id="insertAlarm" parameterType="com.gdu.voyage.vo.Alarm">
		INSERT INTO alarm(
			member_id,
			alarm_content,
			alarm_link,
			create_date
		) VALUES (
			#{memberId},
			#{alarmContent},
			#{alarmLink},
			NOW()
		)
	</insert>
</mapper>