<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.LoginMapper">
	<!-- 멤버 로그인 쿼리 -->
	<select id="login" resultType="com.gdu.voyage.vo.Member">
		SELECT
			member_id memberId,
			member_first_name memberFirstName,
			member_last_name memberLastName,
			member_nickname memberNickname,
			member_level memberLevel
		FROM
			member
		WHERE
			member_id = #{memberId}
			AND
			member_pw = PASSWORD(#{memberPw});
	</select>
	
	
	<!-- 어드민 로그인 쿼리 -->
	<select id="adminLogin" resultType="com.gdu.voyage.vo.Admin">
		SELECT
			admin_id adminId,
			admin_first_name adminFirstName,
			admin_last_name adminLastName
		FROM
			admin
		WHERE
			admin_id = #{adminId}
			AND
			admin_pw = PASSWORD(#{adminPw});
	</select>
	
</mapper>