<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.LoginMapper">

	<!-- 로그인 시 휴면계정을 활성계정으로 -->
	<update id="updateEnableActive">
		UPDATE member
		SET
			member_active = "활동"
		WHERE
			member_id = #{memberId}
	</update>

	<!-- 로그인 시 마지막 로그인 날짜를 현재 시각으로 -->
	<update id="updateLastLogin">
		UPDATE member
		SET
			last_login = NOW()
		WHERE
			member_id = #{memberId}
	</update>

	<resultMap type="com.gdu.voyage.vo.MemberAddress" id="memberAddress">
		<result column="memberAddressPostalCode" property="memberAddressPostalCode" />
		<result column="memberAddressZip" property="memberAddressZip" />
		<result column="memberAddressDetail" property="memberAddressDetail" />
	</resultMap>
 
	<resultMap type="com.gdu.voyage.vo.Member" id="member">
		<result column="memberId" property="memberId" />
		<result column="memberFirstName" property="memberFirstName" />
		<result column="memberLastName" property="memberLastName" />
		<result column="memberNickname" property="memberNickname" />
		<result column="memberPhone" property="memberPhone" />
		<result column="memberEmail" property="memberEmail" />
		<result column="memberDescription" property="memberDescription" />
		<result column="memberLevel" property="memberLevel" />
		<result column="memberActive" property="memberActive" />
		<collection property="memberAddress" resultMap="memberAddress" />
	</resultMap>
	
	<!-- 정지당한 회원 확인 -->
	<select id="selectBanMember" resultType="int">
		SELECT
			count(member_id)
		FROM
			member
		WHERE
			member_id = #{memberId}
			AND
			member_active = "정지"
	</select>
	
	<!-- 탈퇴한 회원 확인 -->
	<select id="selectDeleteMember" resultType="int">
		SELECT
			count(member_id)
		FROM
			member
		WHERE
			member_id = #{memberId}
			AND
			member_active = "탈퇴"
	</select>

	<!-- 멤버 로그인 쿼리 -->
	<select id="login" resultMap="member">
		SELECT
			m.member_id memberId,
			m.member_first_name memberFirstName,
			m.member_last_name memberLastName,
			m.member_nickname memberNickname,
			m.member_email memberEmail,
			m.member_phone memberPhone,
			m.member_description memberDescription,
			m.member_level memberLevel,
			m.member_active memberActive,
			a.member_address_postal_code memberAddressPostalCode,
			a.member_address_zip memberAddressZip,
			a.member_address_detail memberAddressDetail
		FROM
			member m
		INNER JOIN
			member_address a
		ON
			m.member_id = a.member_id
		WHERE
			m.member_id = #{memberId}
			AND
			m.member_pw =  PASSWORD(#{memberPw})
			AND
			NOT m.member_active = "탈퇴"
			AND
			NOT m.member_active = "정지";
	</select>
	
	
	
	
	<resultMap type="com.gdu.voyage.vo.AdminAddress" id="adminAddress">
		<result column="adminAddressPostalCode" property="adminAddressPostalCode" />
		<result column="adminAddressZip" property="adminAddressZip" />
		<result column="adminAddressDetail" property="adminAddressDetail" />
	</resultMap>
	<resultMap type="com.gdu.voyage.vo.Admin" id="admin">
		<result column="adminId" property="adminId" />
		<result column="adminFirstName" property="adminFirstName" />
		<result column="adminLastName" property="adminLastName" />
		<result column="adminPhone" property="adminPhone" />
		<result column="adminEmail" property="adminEmail" />
		<result column="adminActive" property="adminActive" />
		<collection property="adminAddress" resultMap="adminAddress" />
	</resultMap>
	
	<!-- 어드민 로그인 쿼리 -->
	<select id="adminLogin" resultType="com.gdu.voyage.vo.Admin" parameterType="String" resultMap="admin">
		SELECT
			a.admin_id adminId,
			a.admin_first_name adminFirstName,
			a.admin_last_name adminLastName,
			a.admin_email adminEmail,
			a.admin_phone adminPhone,
			a.admin_active adminActive,
			f.admin_address_postal_code adminAddressPostalCode,
			f.admin_address_zip adminAddressZip,
			f.admin_address_detail adminAddressDetail
		FROM
			admin a
		INNER JOIN
			admin_address f
		ON
			a.admin_id = f.admin_id
		WHERE
			a.admin_id = #{memberId}
	</select>
	
	<!-- host 로그인 -->
	<select id="hostLogin" resultType="com.gdu.voyage.vo.Host">
		SELECT
			host_no hostNo
		FROM
			host
		WHERE
			member_id = #{memberId}
	</select>
	
</mapper>