<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.MemberMapper">
	<insert id="insertMemberAddress">
		INSERT INTO address(address_postal_code,address_zip,address_detail) VALUES(addressPostalCode,addressZip,addressDetail);
	</insert>
	
	<insert id="insertMember">
		INSERT INTO member(member_id,member_pw,member_first_name,member_last_name,member_nickname,member_phone,
			member_email,member_reg,address_no,member_description,member_level,member_active,create_date,update_date)
		VALUES(memberId,memberPw,memberFirstName,memberLastName,memberNickname,memberPhone,memberEmail,memberReg
			addressNo,memberDescription,0,"활동",now(),now());
	</insert>

</mapper>