<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.MemberMapper">
	<!-- PW 수정 --> 
	<update id="updateMemberPw"> 
		UPDATE member
		set
			member_pw = PASSWORD(#{memberPw})
		WHERE 
			member_id = #{memberId}
	</update>
	
	<!-- 닉네임 수정 --> 
	<update id="updateMemberNickname">
		UPDATE member
		set
			member_nickname = #{memberNickname}
		WHERE 
			member_id = #{memberId}
			AND 
			member_pw = PASSWORD(#{memberPw})
	</update>

	<!-- 프로필 주소 업데이트 -->
	<update id="updateMemberAddress">
		UPDATE member_address
		set
			member_address_postal_code = #{memberAddressPostalCode},
			member_address_zip = #{memberAddressZip},
			member_address_detail = #{memberAddressDetail}
		WHERE member_id = #{memberId}
	</update>

	<!-- 프로필 업데이트 -->
	<update id="updateMember">
		UPDATE member
		set
			member_first_name = #{memberFirstName},
			member_last_name = #{memberLastName},
			member_phone = #{memberPhone},
			member_email = #{memberEmail},
			member_description = #{memberDescription}
		WHERE member_id = #{memberId}
	</update>
	
	<!-- 재가입 방지를 위해 아이디 저장 -->
	<insert id="insertCreateId" parameterType="String">
		INSERT INTO
			created_id(
				member_id,
				create_date
				)
		VALUES(
			#{memberId},
			NOW()
			);
	</insert>
	
	<!-- 닉네임 중복 검사 -->
	<select id="selectMemberNickName" resultType="int" parameterType="String">
		SELECT
			count(member_nickname)
		FROM
			member
		WHERE
			member_nickname = #{memberNickname};
	</select>
	
	<!-- 아이디 중복 검사 -->
	<select id="selectMemberId" resultType="int" parameterType="String">
		SELECT
			count(member_id)
		FROM
			created_id
		WHERE
			member_id = #{memberId};
	</select>
	
	<!-- 회원가입 후 주소 추가 -->
	<insert id="insertMemberAddress" parameterType="com.gdu.voyage.vo.MemberAddress">
		INSERT INTO 
			member_address(
				member_id,
				member_address_postal_code,
				member_address_zip,
				member_address_detail
				)
		VALUES(
			#{memberId},
			#{memberAddressPostalCode},
			#{memberAddressZip},
			#{memberAddressDetail}
			);
	</insert>
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="com.gdu.voyage.vo.Member">
		INSERT INTO
			member(
				member_id,
				member_pw,
				member_first_name,
				member_last_name,
				member_nickname,
				member_phone,
				member_email,
				member_reg,
				member_description,
				member_level,
				member_active,
				create_date,
				update_date
				)
		VALUES(
			#{memberId},
			PASSWORD(#{memberPw}),
			#{memberFirstName},
			#{memberLastName},
			#{memberNickname},
			#{memberPhone},
			#{memberEmail},
			#{memberReg},
			#{memberDescription},
			#{memberLevel},
			#{memberActive},
			NOW(),
			NOW()
			);
	</insert>

</mapper>