<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.PaymentMapper">
	<!-- 이번달 체험 예약인원 -->
	<select id="selectActivityUsePerson" resultType="int">
		SELECT
			SUM(activity_use_person)
		FROM
			activity_payment
		WHERE
			host_no = #{hostNo}
			AND
			NOT activity_payment_state = '결제취소'
			AND
			NOT activity_payment_state = '결제대기'
			AND
			update_date between DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW()
	</select>
	
	<!-- 이번달 숙소 예약인원 -->
	<select id="selectAccomUsePerson" resultType="int">
		SELECT
			SUM(accom_use_person)
		FROM
			accom_payment
		WHERE
			host_no = #{hostNo}
			AND
			NOT accom_payment_state = '결제취소'
			AND
			NOT accom_payment_state = '결제대기'
			AND
			update_date between DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW()
	</select>

	<!-- 저번달, 저번주와 비교해서 벌어들인 전체 수익 -->
	<select id="selectAllProfitCompare" resultType="long">
		SELECT
		SUM(
		(select sum(accom_amount) -
		(SELECT
			IFNULL(SUM(accom_amount),1)
		FROM
			accom_payment
		WHERE
			host_no = #{hostNo}
			AND
		<choose>
			<when test="month==1">
				update_date between DATE_ADD(NOW(), INTERVAL -2 MONTH) AND  DATE_ADD(NOW(), INTERVAL -1 MONTH)
					)
				from accom_payment
				WHERE
					host_no = #{hostNo}
					AND
					NOT accom_payment_state = '결제취소'
					AND
					NOT accom_payment_state = '결제대기'
					AND
					update_date between DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW())
			</when>
			<otherwise>
				update_date between DATE_ADD(NOW(), INTERVAL -2 WEEK) AND  DATE_ADD(NOW(), INTERVAL -1 WEEK)
					)
				from accom_payment
				WHERE
					host_no = #{hostNo}
					AND
					NOT accom_payment_state = '결제취소'
					AND
					NOT accom_payment_state = '결제대기'
					AND
					update_date between DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW())
			</otherwise>
		</choose>
		+
		(select sum(activity_amount) -
		(SELECT
			IFNULL(SUM(activity_amount),1)
		FROM
			activity_payment
		WHERE
			host_no = #{hostNo}
			AND
			<choose>
				<when test="month==1">
					update_date between DATE_ADD(NOW(), INTERVAL -2 MONTH) AND  DATE_ADD(NOW(), INTERVAL -1 MONTH)
						)
					from activity_payment
					WHERE
						host_no = #{hostNo}
						AND
						NOT activity_payment_state = '결제취소'
						AND
						NOT activity_payment_state = '결제대기'
						AND
						update_date between DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW())
				</when>
				<otherwise>
					update_date between DATE_ADD(NOW(), INTERVAL -2 WEEK) AND  DATE_ADD(NOW(), INTERVAL -1 WEEK)
						)
					from activity_payment
					WHERE
						host_no = #{hostNo}
						AND
						NOT activity_payment_state = '결제취소'
						AND
						NOT activity_payment_state = '결제대기'
						AND
						update_date between DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW())
				</otherwise>
			</choose>
			
		)
	</select>
	
	<!-- 저번달, 저번주와 비교해서 벌어들인 체험 수익 -->
	<select id="selectActivityProfitCompare" resultType="long">
		select sum(activity_amount) -
		(SELECT
			IFNULL(SUM(activity_amount),1)
		FROM
			activity_payment
		<choose>
			<when test = "month == 1">
				WHERE
					host_no = #{hostNo}
					AND
					NOT activity_payment_state = '결제취소'
					AND
					NOT activity_payment_state = '결제대기'
					AND
					update_date between DATE_ADD(NOW(), INTERVAL -2 MONTH) AND  DATE_ADD(NOW(), INTERVAL -1 MONTH)
					)
				from activity_payment
				WHERE
					host_no = #{hostNo}
					AND
					NOT activity_payment_state = '결제취소'
					AND
					NOT activity_payment_state = '결제대기'
					AND
					update_date between DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW()
			</when>
			
			<otherwise>
				WHERE
					host_no = #{hostNo}
					AND
					NOT activity_payment_state = '결제취소'
					AND
					NOT activity_payment_state = '결제대기'
					AND
					update_date between DATE_ADD(NOW(), INTERVAL -2 WEEK) AND  DATE_ADD(NOW(), INTERVAL -1 WEEK)
					)
				from activity_payment
				WHERE
					host_no = #{hostNo}
					AND
					NOT activity_payment_state = '결제취소'
					AND
					NOT activity_payment_state = '결제대기'
					AND
					update_date between DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW()
			</otherwise>
		</choose>
		
	</select>
	
	<!-- 저번달, 저번주와 비교해서 벌어들인 숙소 수익 -->
	<select id="selectAccomProfitCompare" resultType="long">
		select sum(accom_amount) -
		(SELECT
			IFNULL(SUM(accom_amount),1)
		FROM
			accom_payment
		<choose>
			<when test = "month == 1">
				WHERE
					host_no = #{hostNo}
					AND
					NOT accom_payment_state = '결제취소'
					AND
					NOT accom_payment_state = '결제대기'
					AND
					update_date between DATE_ADD(NOW(), INTERVAL -2 MONTH) AND  DATE_ADD(NOW(), INTERVAL -1 MONTH)
					)
				from accom_payment
				WHERE
					host_no = #{hostNo}
					AND
					NOT accom_payment_state = '결제취소'
					AND
					NOT accom_payment_state = '결제대기'
					AND
					update_date between DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW()
			</when>
			
			<otherwise>
				WHERE
					host_no = #{hostNo}
					AND
					NOT accom_payment_state = '결제취소'
					AND
					NOT accom_payment_state = '결제대기'
					AND
					update_date between DATE_ADD(NOW(), INTERVAL -2 WEEK) AND  DATE_ADD(NOW(), INTERVAL -1 WEEK)
					)
				from accom_payment
				WHERE
					host_no = #{hostNo}
					AND
					NOT accom_payment_state = '결제취소'
					AND
					NOT accom_payment_state = '결제대기'
					AND
					update_date between DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW()
			</otherwise>
		</choose>
		
	</select>

	<!-- 최근 한달간 체험 일별 수익 -->
	<select id="selectActivityProfitByMonthToDate" resultType="com.gdu.voyage.vo.ActivityPayment">
		SELECT a.DATE AS updateDate , IFNULL(sum(b.activity_amount),0) as activityAmount
		FROM (
		    SELECT curdate() - interval (a.a + (10 * b.a) + (100 * c.a) + (1000 * d.a) ) day as DATE
		    from 
		        (SELECT 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as a
		        CROSS JOIN
		        (SELECT 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as b
		        CROSS JOIN
		        (SELECT 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as c
		        CROSS JOIN
		        (SELECT 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as d
		    ) a left outer join `activity_payment` b on a.date = DATE(b.update_date) 
		    AND host_no = #{hostNo} AND NOT activity_payment_state = '결제대기'  AND NOT activity_payment_state = '결제취소'
		WHERE 1=1
		AND a.DATE between DATE_ADD(NOW(), INTERVAL -1 month) AND NOW()
		GROUP BY updateDate
		ORDER BY updateDate ASC;
	</select>

	<!-- 최근 한달간 숙소 일별 수익 -->
	<select id="selectAccomProfitByMonthToDate" resultType="com.gdu.voyage.vo.AccomPayment">
		SELECT a.DATE AS updateDate , IFNULL(sum(b.accom_amount),0) as accomAmount
		FROM (
		    SELECT curdate() - interval (a.a + (10 * b.a) + (100 * c.a) + (1000 * d.a) ) day as DATE
		    from 
		        (SELECT 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as a
		        CROSS JOIN
		        (SELECT 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as b
		        CROSS JOIN
		        (SELECT 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as c
		        CROSS JOIN
		        (SELECT 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as d
		    ) a left outer join `accom_payment` b on a.date = DATE(b.update_date) 
		    AND host_no = #{hostNo} AND NOT accom_payment_state = '결제대기'  AND NOT accom_payment_state = '결제취소'
		WHERE 1=1
		AND a.DATE between DATE_ADD(NOW(), INTERVAL -1 month) AND NOW()
		GROUP BY updateDate
		ORDER BY updateDate ASC;
	</select>

	<!-- 해당 사업자의 월별 가장 많은 수익을 벌어들인 체험 -->
	<select id="selectActivityProfitByQuarterly" resultMap="ActivityPayment">
		SELECT
			a.activity_name,
			IFNULL(SUM(ap.activity_amount),0)
		FROM
			activity_payment ap
		INNER JOIN
			activity a
			ON a.activity_no = ap.activity_no
		WHERE
			ap.host_no = #{hostNo}
			AND
			<![CDATA[
			DATEDIFF(NOW(),ap.update_date) <= 30
			]]>
			AND
			NOT activity_payment_state = '결제대기' 
			AND
			NOT activity_payment_state = '결제취소'
		GROUP BY
			a.activity_name
		ORDER BY
			activity_amount ASC
		LIMIT
			0,1
	</select>

	<!-- 해당 사업자의 월별 가장 많은 수익을 벌어들인 숙소 -->
	<select id="selectAccomProfitByQuarterly" resultMap="AccomPayment">
		SELECT
			ab.accom_building_name,
			IFNULL(SUM(ap.accom_amount),0)
		FROM
			accom_payment ap
		INNER JOIN
			accom_room ar
			ON ar.accom_room_no = ap.accom_room_no
		INNER JOIN
			accom_building ab
			ON ab.accom_building_no = ar.accom_building_no
		WHERE
			ap.host_no = #{hostNo}
			AND
			<![CDATA[
			DATEDIFF(NOW(),ap.update_date) <= 30
			]]>
			AND
			NOT accom_payment_state = '결제대기' 
			AND
			NOT accom_payment_state = '결제취소'
		GROUP BY
			ab.accom_building_name
		ORDER BY
			accom_amount ASC
		LIMIT
			0,1
	</select>

	<!-- 해당 사업자의 체험 총 수익, 월별 수익 -->
	<select id="selectActivityProfitByHost" resultType="long">
		SELECT
			IFNULL(SUM(activity_amount),0)
		FROM
			activity_payment
		WHERE
			host_no = #{hostNo}
			AND
			NOT activity_payment_state = '결제취소'
			AND
			NOT activity_payment_state = '결제대기'
			<if test="month == 1">
				<![CDATA[
				AND
				DATEDIFF(NOW(),update_date) <= 30
				]]>
			</if>
	</select>

	<!-- 해당 사업자의 숙소 총 수익, 월별 수익 -->
	<select id="selectAccomProfitByHost" resultType="long">
		SELECT
			IFNULL(SUM(accom_amount),0)
		FROM
			accom_payment
		WHERE
			host_no = #{hostNo}
			AND
			NOT accom_payment_state = '결제취소'
			AND
			NOT accom_payment_state = '결제대기'
			<if test="month == 1">
				<![CDATA[
				AND
				DATEDIFF(NOW(),update_date) <= 30
				]]>
			</if>
	</select>

	<!-- 해당 사업자의 총 수익, 월별 수익 -->
	<select id="selectAllProfitByHost" resultType="long">
		SELECT
			SUM(
			(SELECT
				IFNULL(SUM(accom_amount),0)
			FROM
				accom_payment
			WHERE
				host_no = #{hostNo}
				AND
				NOT accom_payment_state = '결제취소'
				AND
				NOT accom_payment_state = '결제대기'
				<if test="month == 1">
					<![CDATA[
					AND
					DATEDIFF(NOW(),update_date) <= 30
					]]>
				</if>
				)
			+
			(SELECT
				IFNULL(SUM(activity_amount),0)
			FROM
				activity_payment
			WHERE
				host_no = #{hostNo}
				AND
				NOT activity_payment_state = '결제취소'
				AND
				NOT activity_payment_state = '결제대기'
				<if test="month == 1">
					<![CDATA[
					AND
					DATEDIFF(NOW(),update_date) <= 30
					]]>
				</if>
				)
			)
	</select>

	<!-- 숙소 -->
	<resultMap type="com.gdu.voyage.vo.AccomPayment" id="AccomPayment">
		<result column="accom_payment_no" property="accomPaymentNo" />
		<result column="accom_room_no" property="accomRoomNo" />
		<result column="member_id" property="memberId" />
		<result column="accom_checkin" property="accomCheckIn" />
		<result column="accom_checkout" property="accomCheckOut" />
		<result column="accom_amount" property="accomAmount" />
		<result column="accom_use_person" property="accomUsePerson" />
		<result column="accom_payment_state" property="accomPaymentState" />
		<result column="receipt" property="receipt" />
		<result column="create_date" property="createDate" />
		<collection property="accomBuilding" resultMap="AccomBuilding" />
		<collection property="accomRoom" resultMap="AccomRoom" />
		<collection property="accomRoomImage" resultMap="AccomRoomImage" />
	</resultMap>
	
	<resultMap type="com.gdu.voyage.vo.AccomBuilding" id="AccomBuilding">
		<result column="accom_building_name" property="accomBuildingName" />
	</resultMap>
	
	<resultMap type="com.gdu.voyage.vo.AccomRoom" id="AccomRoom">
		<result column="accom_room_name" property="accomRoomName" />
	</resultMap>
	
	<resultMap type="com.gdu.voyage.vo.AccomRoomImage" id="AccomRoomImage">
		<result column="accom_room_image_name" property="accomRoomImageName" />
		<result column="accom_room_image_ext" property="accomRoomImageExt" />
	</resultMap>
	
	
	<!-- 결제 취소 -->
	<update id="cancelAccomPayment">
		UPDATE accom_payment
		SET
			accom_payment_state = '결제취소',
			update_date = NOW()
		WHERE
			accom_payment_no = #{accomPaymentNo}
	</update>
	
	<!-- 결제 상세(예비) -->
	<select id="selectAccomPaymentOne" resultType="com.gdu.voyage.vo.AccomPayment">
		SELECT
			accom_payment_no accomPaymentNo,
			accom_room_no accomRoomNo,
			member_id memberId,
			accom_checkin accomCheckIn,
			accom_checkout accomCheckOut,
			accom_amount accomAmount,
			accom_use_person accomUsePerson,
			accom_payment_state accomPaymentState,
			receipt receipt,
			create_date createDate
		FROM
			accom_payment
		WHERE
			accom_payment_no = #{accomPaymentNo}
	</select>
	
	<!-- 주문상품 목록 불러오기 -->
	<select id="selectAccomPayment" resultMap="AccomPayment">
		SELECT
			ap.accom_payment_no,
			ap.member_id,
			ap.accom_checkin,
			ap.accom_checkout,
			ap.accom_amount,
			ap.accom_use_person,
			ap.accom_payment_state,
			ap.receipt,
			ap.create_date,
			ar.accom_room_name,
			ab.accom_building_name,
			ai.accom_room_image_name,
			ai.accom_room_image_ext
		FROM
			accom_payment ap
		INNER JOIN
			accom_room ar
		ON
			ap.accom_room_no = ar.accom_room_no
		INNER JOIN
			accom_building ab
		ON
			ar.accom_building_no = ab.accom_building_no
		INNER JOIN
			accom_room_image ai
		ON
			ap.accom_room_no = ai.accom_room_no
		WHERE
			member_id = #{memberId}
			AND
			ai.accom_room_image_name =
			(SELECT accom_room_image_name
			FROM accom_room_image
			WHERE accom_room_no = ap.accom_room_no
			ORDER BY accom_room_no ASC
			LIMIT 0,1)
			AND
			ai.accom_room_image_ext =
			(SELECT accom_room_image_ext
			FROM accom_room_image
			WHERE accom_room_no = ap.accom_room_no
			ORDER BY accom_room_no ASC
			LIMIT 0,1)
		ORDER BY
			ap.create_date DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	
	
	<!-- 페이징 -->
	<select id="selectAccomCountPage" resultType="int"  parameterType="com.gdu.voyage.vo.AccomPayment">
		SELECT
			COUNT(*)
		FROM 
			accom_payment
		WHERE
			member_id = #{memberId}
	</select>
	
	
	<!-- 체험 -->
	<resultMap type="com.gdu.voyage.vo.ActivityPayment" id="ActivityPayment">
		<result column="activity_payment_no" property="activityPaymentNo" />
		<result column="activity_no" property="activityNo" />
		<result column="member_id" property="memberId" />
		<result column="activity_booking_time" property="activityBookingTime" />
		<result column="activity_use_person" property="activityUsePerson" />
		<result column="activity_amount" property="activityAmount" />
		<result column="activity_payment_state" property="activityPaymentState" />
		<result column="receipt" property="receipt" />
		<result column="create_date" property="createDate" />
		<collection property="activity" resultMap="Activity" />
		<collection property="activityImage" resultMap="ActivityImage" />
	</resultMap>
	
	<resultMap type="com.gdu.voyage.vo.Activity" id="Activity">
		<result column="activity_name" property="activityName" />
	</resultMap>
	
	<resultMap type="com.gdu.voyage.vo.ActivityImage" id="ActivityImage">
		<result column="activity_image_name" property="activityImageName" />
		<result column="activity_image_ext" property="activityImageExt" />
	</resultMap>
	
	<!-- 결제 취소 -->
	<update id="cancelActivityPayment">
		UPDATE activity_payment
		SET
			activity_payment_state = '결제취소',
			update_date = NOW()
		WHERE
			activity_payment_no = #{activityPaymentNo}
	</update>
	
	<!-- 결제 상세(예비) -->
	<select id="selectActivityPaymentOne" resultType="com.gdu.voyage.vo.ActivityPayment">
		SELECT
			activity_payment_no activityPaymentNo,
			activity_no activityNo,
			member_id memberId,
			activity_booking_time activityBookingTime,
			activity_amount activityAmount,
			activity_use_person activityUsePerson,
			activity_payment_state activityPaymentState,
			receipt receipt,
			create_date createDate
		FROM
			activity_payment
		WHERE
			activity_payment_no = #{activityPaymentNo}
	</select>
	
	<!-- 주문상품 목록 불러오기 -->
	<select id="selectActivityPayment" resultMap="ActivityPayment">
		SELECT
			ap.activity_payment_no,
			ap.member_id,
			ap.activity_booking_time,
			ap.activity_amount,
			ap.activity_use_person,
			ap.activity_payment_state,
			ap.receipt,
			ap.create_date,
			a.activity_name,
			ai.activity_image_name,
			ai.activity_image_ext
		FROM
			activity_payment ap
		INNER JOIN
			activity a
		ON
			ap.activity_no = a.activity_no
		INNER JOIN
			activity_image ai
		ON
			ap.activity_no = ai.activity_no
		WHERE
			member_id = #{memberId}
			AND
			ai.activity_image_name =
			(SELECT activity_image_name
			FROM activity_image
			WHERE activity_no = ap.activity_no
			ORDER BY activity_no ASC
			LIMIT 0,1)
			AND
			ai.activity_image_ext =
			(SELECT activity_image_ext
			FROM activity_image
			WHERE activity_no = ap.activity_no
			ORDER BY activity_no ASC
			LIMIT 0,1)
		ORDER BY
			ap.create_date DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	
	
	<!-- 페이징 -->
	<select id="selectActivityCountPage" resultType="int"  parameterType="com.gdu.voyage.vo.AccomPayment">
		SELECT
			COUNT(*)
		FROM 
			activity_payment
		WHERE
			member_id = #{memberId}
	</select>
</mapper>