<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.QnaMapper">

	<!-- resultMap -->
	<resultMap type="com.gdu.voyage.vo.Qna" id="resultQna">
		<id column="qna_no" property="qnaNo"/>
		<result column="member_nickname" property="memberNickname"/>
		<result column="qna_category" property="qnaCategory"/>
		<result column="qna_title" property="qnaTitle"/>
		<result column="qna_secret" property="qnaSecret"/>
		<result column="update_date" property="updateDate"/>
		<result column="create_date" property="createDate"/>
		<collection property="qnaAnswer" ofType="com.gdu.voyage.vo.QnaAnswer">
			<id column="qna_answer_no" property="qnaAnswerNo"/>
			<result column="answer_content" property="answerContent"/>
		</collection>
	</resultMap>
	<!--  -->
	<select id="selectMemberNickname" parameterType="String" resultType="String">
		SELECT
			member_nickname
		FROM qna
		<where>
			member_id = ${memberId}
		</where>
	</select>
	<!-- 질문 목록 조회 -->
	<select id="selectQnaListByCategory" parameterType="com.gdu.voyage.vo.Qna" resultMap="resultQna">
		SELECT
			qna_no,
			member_nickname,
			qna_category,
			qna_title,
			qna_secret,
			create_date,
			update_date
		FROM qna ORDER BY update_date DESC
		<where>
			<if test="qnaCategory != null">
				qna_category = #{qnaCategory}
			</if>
		</where>
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 질문 내용 상세 조회 -->
	<!-- ISSUE : service에서 모든 값이 null로 찍힘-->
	<select id="selectQnaOneAndAnswer" parameterType="int" resultMap="resultQna">
		SELECT
			qna_no,
			member_nickname,
			qna_category,
			qna_title,
			qna_content,
			create_date,
			update_date
			<!--
			a.qna_answer_no,
			a.answer_content
			-->
		FROM qna<!-- LEFT JOIN qna_answer a 
		ON q.qna_no = a.qna_no
		-->
		<where>
			<!--  
			<if test="a.qna_answer_no != null">
				a.qna_answer_no = #{qnaAnswerNo}
			</if>
			-->
			qna_no = #{qnaNo}
		</where>
	</select>
	<!-- 질문 등록 -->
	<insert id="addQ" parameterType="com.gdu.voyage.vo.Qna">
		INSERT INTO qna(
			member_id,
			member_nickname,
			qna_category,
			qna_title,
			qna_content,
			qna_secret,
			update_date,
			create_date
		) VALUES (
			#{memberId},
			#{memberNickname},
			#{qnaCategory},
			#{qnaTitle},
			#{qnaContent},
			#{qnaSecret},
			NOW(),
			NOW()
		)
	</insert>
	<!-- 질문 수정 -->
	<update id="modifyQ" parameterType="com.gdu.voyage.vo.Qna">
		UPDATE qna SET
			qna_category = #{qnaCategory},
			qna_title = #{qnaTitle},
			qna_content = #{qnaContent},
			update_date = NOW()
		WHERE qna_no = #{qnaNo}
		AND member_nickname = #{memberNickname} 
	</update>
	
	<!-- 질문 삭제 -->
	<delete id="removeQ" parameterType="com.gdu.voyage.vo.Qna">
		DELETE FROM qna 
		WHERE qna_no = #{qnaNo}
	</delete>
	<!-- 이미지 등록 -->
	<insert id="addQImg" parameterType="com.gdu.voyage.vo.QnaImg">
		INSERT INTO qna_image(
			qna_no,
			qna_image_name,
			qna_image_ext,
			qna_image_size
		) VALUES (
			#{qnaNo},
			#{qnaImgName},
			#{qnaImgExt},
			#{qnaImgSize}
		)
	</insert>
	<!-- 페이징 -->
	<select id="selectCountPage" resultType="int">
		SELECT COUNT(*)FROM qna
	</select>
	<select id="selectQnaTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM qna
		<where>
			<if test="qnaCategory != null">
				qnaCategory = #{qnaCategory}
			</if>
		</where>
	</select>
</mapper>