<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.QnaMapper">

	<!-- resultMap Here-->
	<!-- 전체 질문 목록 -->
	<resultMap type="com.gdu.voyage.vo.Qna" id="resultQna">
		<!-- Question -->
		<id column="qna_no" property="qnaNo"/>
		<result column="member_nickname" property="memberNickname"/>
		<result column="qna_category" property="qnaCategory"/>
		<result column="qna_title" property="qnaTitle"/>
		<result column="qna_secret" property="qnaSecret"/>
		<result column="update_date" property="updateDate"/>
		<result column="create_date" property="createDate"/>
		<!-- Img -->
		<collection property="qnaImg" ofType="com.gdu.voyage.vo.QnaImg">
			<id column="qna_image_no" property="qnaImgNo"/>
			<result column="qna_image_name" property="qnaImgName"/>
			<result column="qna_image_ext" property="qnaImgExt"/>
			<result column="qna_image_size" property="qnaImgSize"/>
		</collection>
	</resultMap>
	<!-- 질문 내용 상세 조회 -->
	<resultMap  type="com.gdu.voyage.vo.Qna" id="resultQnaOne">
		<!-- Question -->
		<id column="qna_no" property="qnaNo"/>
		<result column="member_id" property="memberId"/>
		<result column="member_nickname" property="memberNickname"/>
		<result column="qna_category" property="qnaCategory"/>
		<result column="qna_title" property="qnaTitle"/>
		<result column="qna_content" property="qnaContent"/>
		<result column="qna_secret" property="qnaSecret"/>
		<result column="update_date" property="updateDate"/>
		<result column="create_date" property="createDate"/>
		<!-- Answer -->
		<association property="qnaAnswer" javaType="com.gdu.voyage.vo.QnaAnswer">
			<id column="admin_id" property="adminId"/>
			<result column="answer_content" property="answerContent"/>
		</association>
		<!-- Img -->
		<collection property="qnaImg" resultMap="QnaImg" /> 
	</resultMap>
	
	<resultMap type="com.gdu.voyage.vo.QnaImg" id="QnaImg">
		<result column="qna_image_no" property="qnaImgNo"/>
		<result column="qna_image_name" property="qnaImgName"/>
		<result column="qna_image_ext" property="qnaImgExt"/>
		<result column="qna_image_size" property="qnaImgSize"/>
	</resultMap>
	<!-- resultMap End -->
	<!-- Q&A 전체 목록 -->
	<select id="selectQnaList" resultMap="resultQna" parameterType="Map">
		SELECT
			qna_no,
			member_id,
			member_nickname,
			qna_category,
			qna_title,
			qna_secret,
			create_date,
			update_date
		FROM qna 
			<where>
				<if test="searchWord != null">
					qna_title LIKE CONCAT ('%',#{searchWord},'%') OR
					qna_category LIKE CONCAT('%',#{searchWord},'%')
				</if>
			</where>
		ORDER BY 
			update_date DESC
		LIMIT 
			#{beginRow}, #{rowPerPage}
	</select>
	<!-- 질문 내용 상세 조회 -->
	<select id="selectQnaOneAndAnswer" parameterType="int" resultMap="resultQnaOne">
		SELECT
			q.qna_no,
			q.member_id,
			q.member_nickname,
			q.qna_category,
			q.qna_title,
			q.qna_content,
			q.qna_secret,
			q.create_date,
			q.update_date,
			qa.admin_id,
			qa.answer_content,
			qi.qna_image_name,
			qi.qna_image_ext
		FROM 
			qna q 
		LEFT JOIN 
			qna_answer qa
		ON 
			q.qna_no = qa.qna_no
		LEFT JOIN
			qna_image qi
		ON
			q.qna_no = qi.qna_no
		WHERE 
			q.qna_no = #{qnaNo}
	</select>
	<!-- 질문 등록 -->
	<insert id="addQ" parameterType="com.gdu.voyage.vo.Qna">
		INSERT INTO qna(
			member_id,
			member_nickname,
			qna_category,
			qna_title,
			qna_content,
			qna_secret,
			update_date,
			create_date
		) VALUES (
			#{memberId},
			#{memberNickname},
			#{qnaCategory},
			#{qnaTitle},
			#{qnaContent},
			#{qnaSecret},
			NOW(),
			NOW()
		)
		<selectKey keyProperty="qnaNo" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 질문 수정 -->
	<update id="modifyQ" parameterType="com.gdu.voyage.vo.Qna">
		UPDATE qna SET
			qna_category = #{qnaCategory},
			qna_title = #{qnaTitle},
			qna_content = #{qnaContent},
			update_date = NOW()
		WHERE qna_no = #{qnaNo}
	</update>
	
	<!-- 질문 삭제 -->
	<delete id="removeQ" parameterType="com.gdu.voyage.vo.Qna">
		DELETE FROM qna 
		WHERE qna_no = #{qnaNo}
	</delete>
	<!-- 이미지 등록 -->
	<insert id="addQImg" parameterType="com.gdu.voyage.vo.QnaImg">
		INSERT INTO qna_image(
			qna_no,
			qna_image_name,
			qna_image_ext,
			qna_image_size
		) VALUES (
			#{qnaNo},
			#{qnaImgName},
			#{qnaImgExt},
			#{qnaImgSize}
		)
	</insert>
	<!-- 이미지 삭제 -->
	<delete id="removeQImg" parameterType="com.gdu.voyage.vo.QnaImg">
		DELETE FROM qna_image
			WHERE 
				qna_no = #{qnaNo}
	</delete>
	<!-- 관리자 페이지 Q&A 답변 : 답변 없는 질문 list 조회 -->
	<select id="selectNoneAnswerQ" parameterType="com.gdu.voyage.vo.Qna" resultMap="resultQna">
		SELECT
			qna_no,
			member_id,
			member_nickname,
			qna_category,
			qna_title,
			qna_content,
			qna_secret,
			create_date,
			update_date
		FROM qna ORDER BY update_date DESC
		<where>
			qna_no NOT IN (SELECT qna_no FROM qna_answer)
			<if test="qnaCategory != null">
				qna_category = #{qnaCategory}
			</if>
		</where>
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 관리자 페이지 Q&A 답변 : Qna답변 작성 -->
	<insert id="addA" parameterType="com.gdu.voyage.vo.QnaAnswer">
		INSERT INTO qna_answer(
			qna_no,
			admin_id,
			answer_content,
			create_date
		) VALUES (
			#{qnaNo},
			#{adminId},
			#{answerContent},
			NOW()
		)
	</insert>
	<!-- Q&A 이미지 수 -->
	<select id="selectQnaImgTotalCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM qna_image
		WHERE
			qna_no = #{qnaNo}
	</select>
	<!-- Q&A 문의글 수 -->
	<select id="selectQnaTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM qna
		<where>
			<if test="searchWord != null">
				qna_title LIKE CONCAT ('%',#{searchWord},'%') OR
				qna_category LIKE CONCAT ('%',#{searchWord},'%')
			</if>
		</where>
	</select>
</mapper>