<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.voyage.mapper.ReportMapper">
	<!-- resultMap Here -->
	<!-- 신고 전체 목록 -->
	<resultMap type="com.gdu.voyage.vo.Report" id="resultReport">
		<id column="report_no" property="reportNo"/>
		<result column="iden_no" property="idenNo"/>
		<result column="table" property="table"/>
		<result column="member_id" property="memberId"/>
		<result column="create_date" property="createDate"/>
	</resultMap>
	<!-- 신고 세부 목록 -->
	<resultMap type="com.gdu.voyage.vo.Report" id="resultReportOne">
		<id column="report_no" property="reportNo"/>
		<result column="iden_no" property="idenNo"/>
		<result column="table" property="table"/>
		<result column="member_id" property="memberId"/>
		<result column="report_category" property="reportCategory"/>
		<result column="create_date" property="createDate"/>
	</resultMap>
	<!-- resultMap End -->
	<!-- 신고 작성 -->
	<insert id="addReport" parameterType="com.gdu.voyage.vo.Report">
		INSERT INTO report(
			iden_no,
			table,
			member_id,
			report_category,
			create_date
		) VALUES (
			#{idenNo},
			#{table},
			#{memberId},
			#{reportCategory},
			NOW()
		)	
	</insert>
	<!-- 신고 전체 목록 -->
	<select id="selectReportAll" resultMap="resultReport" parameterType="Map">
		SELECT
			report_no,
			iden_no,
			table,
			member_id,
			create_date
		FROM
			report
		<where>
			<if test="searchWord != null">
				table LIKE CONCAT ('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY 
			create_date DESC
		LIMIT
			#{beginRow}, #{rowPerPage}	
	</select>
	<!-- 신고 상세 목록 -->
	<select id="selectReportOne" resultMap="resultReportOne" parameterType="int">
		SELECT
			report_no,
			iden_no,
			table,
			member_id,
			report_category,
			create_date
		FROM
			report
		WHERE
			report_no = #{reportNo}
	</select>
	<!-- 총 신고 수 -->
	<select id="reportTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM report
		<where>
			<if test="searchWord != null">
				table LIKE CONCAT ('%',#{searchWord},'%')
			</if>
		</where>
	</select>
</mapper>